@model  int
@{
    ViewData["Title"] = "Результат матча";
}
    <div class="container">
        <form asp-action="SetResult" asp-controller="Admin" method="post">
            <h4>Введите результат</h4>
            <input type="text" name="result" />
            <input type="number" name="id" value="@Model" hidden />
            <input type="text" name="status" value="@ViewBag.Status" hidden />
            <button type="submit">Сохранить</button>
        </form>
    </div>


